<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Table</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["category"]}}</td>
                <td>{{[row["price"]]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if source not in ['json', 'csv', 'sql'] %}
    <h1>Wrong source</h1>
    {% endif %}
    {% if id and data|length == 0 %}
    <h1>Product not found</h1>
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>